@import "~@fortawesome/fontawesome-free/css/all.css";

*{
  font-family: 'Inter', sans-serif;
  background-color: rgb(0, 0, 0);
}

h5{

  font-family: 'Inter', sans-serif;
  font-size: larger;

}

li{
  cursor: pointer;
}

ul li{
  border: 1px solid transparent;
}

ul li:hover {
  border: 1px solid #7ce978e3;
  border-radius: 20px;
  color: #7ce978e3;


}
